.scrollup__btn {
  position: fixed;
  right: calc(1vw + 20px);
  top: 50%;
  background: rgb(227, 227, 227);
  z-index: 10;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 0%;
  margin: 0%;
}
